@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

.footerImage{
    background-image: url('https://cinnamonweb.blob.core.windows.net/cinnamonweb-prd/page_bottom/book-bottom.jpg');
    width: 100%;
    height: 55rem;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 0px !important;
    margin-top: -100px;
}

.footerImageTwo{
    background-image: url('https://www.cinnamonhotels.com/themes/cinnamon/images/footer-bg.png');
    width:100%;
    height: 100px;
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 0;
    padding: 0px !important;
}

.footerImageThree{
    background-image: url('https://www.cinnamonhotels.com/themes/cinnamon/images/footer-bg2.png');
    width:100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    margin-top: -250px;
}

.footerTopics{
    font-family: 'Lobster Two', cursive;
    font-size: 28px;
    font-style: italic;
    color: #806600;
}

.footerTopicsTwo{
    font-family: 'Lobster Two', cursive;
    font-size: 28px;
    font-style: italic;
    color: #806600;
    margin-top: 50px;
}

.footerItems{
    font-weight: 200;
    cursor: pointer;
}
.footerItems:hover{
    font-weight: 400;
    cursor: pointer;
}

.footerIcons{
    font-size: 25px;
    padding-right: 10px;
    cursor: pointer;
}
.footerIcons:hover{
    font-size: 25px;
    padding-right: 10px;
    cursor: pointer;
    color: black;
    opacity: 0.5;
}

.footerInput{
    padding: 20px;
    width: 310px;
    border: 0.5px solid gray !important;
    font-weight: 100;
}

.footerInputIcon{
    font-size: 30px;
    margin-top: 1%;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    width: 48px;
}

.footerInputIcon:hover{
    font-size: 30px;
    margin-top: 1%;
    padding: 8px;
    background-color: rgb(245, 245, 245);
    width: 48px;
    cursor: pointer;
}
.my-checkbox {
    transform: scale(1.5);
    margin-right: 15px;
    margin-left: 5px;
    margin-top: 30px;
  }

  .footerPrivay{
    font-weight: 200;
    font-size: 12px;
  }